h1,
p {
  font-family: Lato;
}

body {
  background: #333;
  color: lightgreen;
}
.ascii {
  font-family: monospace;
  white-space: pre;
}
.dragon {
  width: 49%;
  display: inline-block;
}
.text-center {
  text-align: center;
}
.hack-center {
  transform: translateX(0);
}
.pad-top {
  padding-top: 3.5vh;
}
.box-outer {
  flex: auto;
}
.box-center {
  flex: 1 0 min-content;
}
.flex {
  display: flex;
}
#flame1{
  position: absolute;
  z-index: 100;
  top: 55%;
  left: 8%;
  animation: move-3 1.2s infinite;
}
#flame2{
  position: absolute;
  z-index: 99;
  top: 55%;
  left: 8%;
  animation: move-3 1.2s infinite;
  animation-delay: 0.3s;
}
#flame3{
  position: absolute;
  z-index: 98;
  top: 55%;
  left: 8%;
  animation: move-3 1.2s infinite;
  animation-delay: 0.6s;
}
#flame4{
  position: absolute;
  z-index: 97;
  top: 55%;
  left: 8%;
  animation: move-3 1.2s infinite;
  animation-delay: 0.9s;
}
#flame5{
  position: absolute;
  z-index: 96;
  top: 55%;
  left: 8%;
  animation: move-4 1.2s infinite;
  animation-delay: 0.05s;
}
#flame6{
  position: absolute;
  z-index: 95;
  top: 55%;
  left: 8%;
  animation : move-4 1.2s infinite;
  animation-delay: 0.35s;
}
#flame7{
  position: absolute;
  z-index: 94;
  top: 55%;
  left: 8%;
  animation: move-4 1.2s infinite;
  animation-delay: 0.65s;
}
#flame8{
  position: absolute;
  z-index: 93;
  top: 55%;
  left: 8%;
  animation: move-4 1.2s infinite;
  animation-delay: 0.95s;
}
#flame9{
  position: absolute;
  z-index: 92;
  top: 55%;
  left: 8%;
  animation: move-1 1.2s infinite;
  animation-delay: 0.075s;
}
#flame10{
  position: absolute;
  z-index: 91;
  top: 55%;
  left: 8%;
  animation: move-1 1.2s infinite;
  animation-delay: 0.375s;
}
#flame11{
  position: absolute;
  z-index: 90;
  top: 55%;
  left: 8%;
  animation: move-1 1.2s infinite;
  animation-delay: 0.675s;
}
#flame12{
  position: absolute;
  z-index: 89;
  top: 55%;
  left: 8%;
  animation: move-1 1.2s infinite;
  animation-delay: 0.975s;
}
#flame13{
  position: absolute;
  z-index: 88;
  top: 55%;
  left: 8%;
  animation: move-2 1.2s infinite;
  animation-delay: 0.025s;
}
#flame14{
  position: absolute;
  z-index: 87;
  top: 55%;
  left: 8%;
  animation: move-2 1.2s infinite;
  animation-delay: 0.325s;
}
#flame15{
  position: absolute;
  z-index: 86;
  top: 55%;
  left: 8%;
  animation: move-2 1.2s infinite;
  animation-delay: 0.625s;
}
#flame16{
  position: absolute;
  z-index: 85;
  top: 55%;
  left: 8%;
  animation: move-2 1.2s infinite;
  animation-delay: 0.925s;
}
@keyframes move-4 {
  0% {
    transform: translateX(0) scale(.6);
  }
  100% {
    transform: translateX(-15vw) translateY(100%) scale(1);
  }
}
@keyframes move-3 {
  0% {
    transform: translateX(0) scale(.6);
  }
  100% {
    transform: translateX(-15vw) scale(1);
  }
}
@keyframes move-2 {
  0% {
    transform: translateX(0) scale(.6);
  }
  100% {
    transform: translateX(-15vw) translateY(-100%) scale(1);
  }
}
@keyframes move-1 {
  0% {
    transform: translateX(0) scale(.6);
  }
  100% {
    transform: translateX(-15vw) translateY(-200%) scale(1);
  }
}
#pile1 {
  position: absolute;
  z-index: 1;
  bottom: 0;
}
#pile2 {
  position: absolute;
  z-index: 2;
  bottom: 0;
}
#pile3 {
  position: absolute;
  z-index: 3;
  bottom: 0;
}
#pile4 {
  position: absolute;
  z-index: 4;
  bottom: 0;
}
.spacer {
  height: 18rem;
}
.padding-left {
  padding-left: 7.5vw;
}
.hp {
  color: red;
}
.game {
  display: flex;
}
.left {
  display: inline-block;
  width: 49%;
}
table.grid {
  font-family: monospace;
  font-size: 1em;
  margin: auto;
}
.grid td {
  border-collapse: collapse;
  text-align: center;
  width: 3em;
  height: 3em;
  margin: 0;
  padding: 0;
  border: 1px solid darkgreen;
}
.block {
  display: block;
}
.grid.wide {
  width: 100%;
}
.gameover {
  position: absolute;
  top: 20%;
  background-color: rgb(100, 0, 0);
  color: red;
  font-weight: bold;
  border: 1px solid red;
  width: 200px;
  padding: 8px;
  font-size: 32px;
  text-align: center;
  left: calc(50% - 100px);
}
.winner {
  position: absolute;
  top: 20%;
  background-color: rgb(0, 100, 0);
  color: lightgreen;
  font-weight: bold;
  border: 1px solid lightgreen;
  width: 200px;
  padding: 8px;
  font-size: 32px;
  text-align: center;
  left: calc(50% - 100px);
}
button{
  color: white;
  font-weight: bold;
  padding: 8px;
  background-color: green;
  font-family: monospace;
  border: 1px solid lightgreen;
  margin: .5rem 0;
}
button.smaller{
  padding: 4px;
}
button:disabled{
  background: grey;
  color: black;
}
button:not(:disabled):hover{
  background-color: lightgreen;
  color: black;
}
td.loot-chest{
  height: 9em;
}
.red{
  color: red;
}
.yellow{
  color: yellow;
}